<div class="postcontainer">
    <div class="images">
        {% for image in obj.images.all %}
            <img src="{{ image.thumbnail_image_path }}" data-fullpng="{{ image.image_path }}">
        {% endfor %}
    </div>
    <div class="content">
        <b class="title">
            {{ obj.title }}
            <span class="user">
                {% if obj.user %}
                <a href="/user/{{ obj.user.username }}/" style="color: inherit; text-decoration: none;">
                    {{ obj.user }}
                </a>
                {% else %}
                    Anon
                {% endif %}
            </span>
        </b>
<b class="created_at">
            {% if replyreply %}
                <a href="#" onclick="replytoreply({{obj.id}})">Reply</a>
            {% endif %}
            {% if show_reply_link %}<a href="/post/{{ obj.id }}">Reply</a>
                {% if request.user.is_authenticated %}
                    {% if request.user in obj.favourites.all %}
                        <a href="#" onclick="togglefav({{obj.id}}, this)" data-faved="true">★ Usuń z ulubionych</a>
                    {% else %}
                        <a href="#" onclick="togglefav({{obj.id}}, this)" data-faved="false">☆ Dodaj do ulubionych</a>
                    {% endif %}
                {% endif %}
            {% endif %}
            id: {{ obj.id }}
            {{ obj.created_at }}

{% if obj.reply_to %}
                {% if obj.user == request.user or request.user.is_staff or obj.reply_to.user == request.user %}
                    [ <a href="{% url 'delete_reply' obj.id %}" style="color: #dc322f; text-decoration: none;">Usuń</a> ]
                {% endif %}
            {% else %}
                {% if obj.user == request.user or request.user.is_staff %}
                    [ <a href="{% url 'delete_post' obj.id %}" style="color: #dc322f; text-decoration: none;">Usuń wątek</a> ]
                {% endif %}
            {% endif %}
        </b>
        <hr>
        <div class="postcontent">{{ obj.content }}</div>
    </div>
</div>