<div class="postcontainer">
    <div class="images">
        {% for image in obj.images.all %}
            <img src="{{ image.thumbnail_image_path }}" data-fullpng="{{ image.image_path }}">
        {% endfor %}
    </div>
    <div class="content">
        <b class="title">
            {{ obj.title }}
            <span class="user">{{ obj.user }}</span>
        </b>
        <b class="created_at">
            {% if show_reply_link %}<a href="/post/{{ obj.id }}">Reply</a>{% endif %}
            id: {{ obj.id }}
            {{ obj.created_at }}
        </b>
        <hr>
        <div class="postcontent">{{ obj.content }}</div>
    </div>
</div>