<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>{% block title %}UkenChan{% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}{% endblock %}
        <div class="menu">
            {% for section in sections %}
                <a href="/section/{{ section.name }}">{{ section.name }}</a>
            {% endfor %}
            <span class="login">
                {% if not user.is_authenticated %}
                    <a href="/accounts/login">[Logowanie]</a>
                    <a href="/accounts/register">[Rejestracja]</a>
                {% else %}
                    {{ user.username }}
                    <form style="display:inline;" action="/accounts/logout/" method="POST">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                {% endif %}
            </span>
        </div>
    </header>

    {% block content %}{% endblock %}

<div style="text-align: center; margin-top: 30px; font-family: monospace;">
    <a href="/" style="color: #268bd2; text-decoration: none;">[ Strona Główna ]</a>
</div>

<button id="scrollToTopBtn" title="Wróć na górę">
    ▲ W górę
</button>
<script src="/static/js/misc_scripts.js"></script>
<script src="/static/js/replysupporter.js"></script>
<button id="themeToggle">[ 💡 Jasny motyw ]</button>
<script>
    
    // sprawdzanie motywu z llocalstorage aby było pernamentne

    let currentstate = localStorage.getItem("lightdarktheme")
    const themeBtn = document.getElementById('themeToggle');

    if (localStorage.getItem("lightdarktheme") === 'light') {
        console.log("ciemny")
        document.body.classList.add('light-theme');
        themeBtn.innerText = '[ 💡 Jasny motyw ]';
    } else {
        themeBtn.innerText = '[ 🌙 Ciemny motyw ]';
    }

    themeBtn.addEventListener('click', () => {
        document.body.classList.toggle('light-theme');
        const isLight = document.body.classList.contains('light-theme');
        localStorage.setItem("lightdarktheme", isLight ? 'light' : 'dark');
        themeBtn.innerText = isLight ? '[ 💡 Jasny motyw ]' : '[ 🌙 Ciemny motyw ]';
});
</script>
</body>
</html>
