<!-- {% include "base.html"%} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twoje Ulubione Posty</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/indexstyle.css">
</head>
<body>

    <div class="top-auth-bar">
        [ <a href="/">Powrót do głównej</a> ]
    </div>

    <div class="boards-box" style="margin-top: 50px;">
        <div class="boards-header">
            Twoje Zapisane Posty (★)
        </div>
        
        <div class="boards-content" style="display: block; padding: 20px;">
            {% if posts %}
                {% for post in posts %}
                    <div class="post">
                    {% include "_postcontainer.html" with obj=post replyreply=True %}
                    </div>
                {% endfor %}
            {% else %}
                <p style="color: #93a1a1;">Nie masz jeszcze żadnych ulubionych postów.</p>
            {% endif %}
        </div>
    </div>

</body>
</html>