<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>UkenChan</title>
	<link rel="stylesheet" href="/static/indexstyle.css">
</head>
<body>
	<div class="headercontainer">
	<header>
	<img src="/static/logorei.png" alt="logorei" width="300" height="150">
	</header>
	</div>
	<div class="navauth">
	{% if request.user.is_authenticated %}
        Witaj, {{ request.user.username }}!
			  [ <a href="{% url 'favourite_list' %}">★ Moje Ulubione </a> ]
        [ <a href="/accounts/logout">Wyloguj</a> ]
    {% else %} 
			<a href="/accounts/login">[Logowanie]</a>
		<a href="/accounts/register">[Rejestracja]</a>
		{% endif %}
	</div>

	</div>

	<div>
		<div class ="boardsbox">
			<div class="boardsboxheader">
				<h2>Dostępne Boardy: </h2>
			</div>
		<div class ="boardscontent">
		{%for i in sections%}
			<div class="board">
				<a href="/section/{{i.name}}">
			<span class="boardname">{{i.name}}</span>
			<span class="boardseparator">-</span>
			<span class="boarddesc"> {{i.description}}</span>
			 	</a>
			 </div>
		{%endfor%}
		</div>
	</div>
<div style="text-align: center; margin-top: 30px;">
    <a href="/regulamin/" style="color: #268bd2; text-decoration: none; font-family: monospace;">[ Regulamin Serwisu ]</a>
</div>
	
</body>
</html>