{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block content %}

<div class="posts">
    {% for i in posts %}
    <div class="post">
        <div class="postcontainer">        
        <div class="images">
            {% for image in i.images.all %}
                <img src="{{image.image_path}}">
            {% endfor %}
        </div>

        <div class="content">
            <b class="title">{{i.title}}</b>
            <b class="created_at">
                id: {{i.id}} 
                {{i.created_at}}
            </b>
            <br>
            {{i.content}}
        </div>
        </div>
        {%if i.reply_set.all|length%}
    <details open>
    <summary>Replies</summary>

    <div class="replies">
        {% for reply in i.reply_set.all %}
            <div class="reply postcontainer">
                <div class="images">
                    {% for image in reply.images.all %}
                        <img src="{{image.image_path}}">
                    {% endfor %}
                </div>
                <div class="content">
                    {{reply.content}}
                </div>
            </div>
        {% endfor %}
        {%endif%}
        
	<!-- </div> -->
</div>
    <div class="postform post replyform">
    <details open>
        <summary>reply</summary>
        <form action="/submitreply/{{i.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="content" placeholder="Treść posta..."></textarea>
            <input type="hidden" name="section_id" value="{{ section.id }}">
            <input type="file" name="file">
            <button type="submit">Dodaj</button>
        </form>
    </details>
    </div>


</details>
    </div>
    {% endfor %}
</div>
{% endblock %}