{% extends "base.html" %}

{% block title %}Strona główna{% endblock %}

{% block content %}

<div class="posts">
    {% for post in posts %}
    <div class="post">
        <div class="postcontainer">        
        <div class="images">
            {% for image in post.images.all %}
                <img src="{{image.image_path}}">
            {% endfor %}
        </div>

        <div class="content">
                <div class="postheader">
        {% if request.user.is_authenticated %}
        <span class="favbtn" style="margin-right: 10px;">
            <a href="{% url 'toggle_favourite' post.id %}">
                {% if request.user in post.favourites.all %}
                    [★ Usuń z ulubionych]
              {% else %}
                    [☆ Ulubione]
                {% endif %}
            </a>
        </span>
        {% endif %}
    </div>
            <b class="title">{{post.title}}</b>
            <b class="created_at">
                id: {{post.id}} 
                {{post.created_at}}
            </b>
            <br>
            {{post.content}}
        </div>
        </div>
        {%if post.reply_set.all|length%}
    <details open>
    <summary>Replies</summary>

    <div class="replies">
        {% for reply in post.reply_set.all %}
            <div class="reply postcontainer">
                <div class="images">
                    {% for image in reply.images.all %}
                        <img src="{{image.image_path}}">
                    {% endfor %}
                </div>
                <div class="content">
                    {{reply.content}}
                </div>
            </div>
        {% endfor %}
        {%endif%}
        
	<!-- </div> -->
</div>
    <div class="postform post replyform">
    <details open>
        <summary>reply</summary>
        <form action="/submitreply/{{post.id}}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <textarea name="content" placeholder="Treść posta..."></textarea>
            <input type="hidden" name="section_id" value="{{ section.id }}">
            <input type="file" name="file" accept="image/*">
            <button type="submit">Dodaj</button>
        </form>
    </details>
    </div>


</details>
    </div>
    {% endfor %}
</div>
{% endblock %}